body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 20px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 50px;
  margin-right: 10px;
  /* margin-left: 50px; */
}

.navbar .logo-text {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
}

.welcome-section {
  position: relative;
  background-image: url('../images/BG1.jpg');
  background-size: cover;
  color: white;
  height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}

.welcome-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 241, 0.5);
  /* Bluish overlay */
  z-index: 1;
}

.welcome-content {
  position: relative;
  z-index: 2;
  max-width: 50%;
  margin-left: 200px;
}

.welcome-content h1 {
  font-size: 3em;
  margin: 0;
}

.welcome-content p {
  font-size: 1.5em;
  color: black;
}

.explore-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  /* width: 100px;
  height: 60px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.explore-button:hover {
  background-color: #0056b3;
}

.explore-button::after {
  content: '→';
  margin-left: 10px;
  font-size: 1.2em;
}

.gallery-section {
  padding: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery img {
  margin: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.logo-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;

}

.logo-right img {
  height: 250px;
  width: 250px;
  margin-right: 500px;
}

.gallery-section {
  padding: 20px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns per row */
  gap: 10px;
  /* Space between images */
}

.gallery img {
  width: 80%;
  /* Make images responsive to column width */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: cover;
}

h2 {
  font-size: 40px;
}

span {
  color: orange;
}